# --- Python cache and build files
__pycache__
.py[cod]
.mypy_cache
.pytest_cache

# --- Editor config
.vscode

# --- Misc. operating files
.history

# --- Coverage
.coverage
.hypothesis
htmlcov

# --- Odev plugins, loaded as submodules
odev/plugins/*
tests/plugins/*
