psycopg2-binary>=2,<3
GitPython>=3,<4
virtualenv>=20,<21
requests>=2,<3
BeautifulSoup4>=4,<5
html5lib>=1,<2
blessed>=1,<2
enlighten>=1,<2
PyGithub>=1,<2
agentcrypt<1
texttable>=1.6.4
decorator>=5.1.0
