psycopg2-binary>=2,<3
GitPython>=3,<4
virtualenv>=20,<21
requests>=2,<3
BeautifulSoup4>=4,<5
html5lib>=1,<2
blessed>=1,<2
enlighten>=1,<2
PyGithub>=1,<2
agentcrypt<1
texttable>=1.6.4
decorator>=5.1.0
packaging==20.9
python-Levenshtein==0.12.2
giturlparse.py==0.0.5
black>=20.8b1
tldextract>=3.1,<4
Jinja2>=2.11,<3
lxml>=4.6.3,<5
Unidecode>=1,<2
pre-commit>=2.9,<3
imgkit>=1,<2
isort>=5.8,<6
copier>=5.1,<6
odoo-client-lib>=1.2.2, <2
