<?xml version="1.0" encoding="utf-8" ?>
<odoo>
    <record id="{{data.__xml_id | replace(data.module_name ~ '.', '')}}" model="base.automation">
        <field name="name">{{data.name | e}}</field>
        <field name="model_id">{{data.model_id[0].xml_id | odoo_field}}</field>
        <field name="active" eval="{{data.active}}"/>
        <field name="state">{{data.state}}</field>
        <field name="trigger">{{data.kind}}</field>
        {%if data.server_action_ids -%}
        <field name="server_action_ids" eval="[
                {%-for sa in data.server_action_ids -%}
                (6, ref('{{sa.xml_id | odoo_field}}'))
                {%-endfor-%}
            ]"/>
        {%-endif%}
    </record>
</odoo>
