<?xml version="1.0" encoding="utf-8" ?>
<odoo>
    <report
        id="{{data.__xml_id | replace(data.module_name ~ '.', '')}}"
        string="{{data.name | e}}"
        model="{{data.model}}"
        report_type="{{data.report_type}}"
        name="{{data.report_name}}"/>
</odoo>
