<?xml version="1.0" encoding="utf-8" ?>
<odoo {%- if data.__xml_noupdate %} noupdate="1"{%-endif-%}>
    <record id="{{data.__xml_id | replace(data.module_name ~ '.', '')}}" model="ir.actions.act_window.view">
        {%- if data.sequence > 0 %}
        <field name="sequence" eval="{{data.sequence}}"/>
        {%- endif %}
        <field name="view_mode">{{data.view_mode}}</field>
        {%- if data.view_id %}
        <field name="view_id" ref="{{data.view_id[0].xml_id}}"/>
        {%- endif %}
        {%- if data.act_window_id %}
        <field name="act_window_id" ref="{{data.act_window_id[0].xml_id}}"/>
        {%- endif %}
    </record>
</odoo>
