<?xml version="1.0" encoding="utf-8" ?>
<odoo>
{%- for menu in data['ir.ui.menu'] %}
    <record id="{{menu.xml_id}}" model="ir.ui.menu">
        <field name="name">{{menu.name | e}}</field>
        {% if menu.groups_id %}
        <field name="groups_id" eval="[(6, 0, {{menu.groups_id}})]"/>
        {% endif %}
        {% if menu.parent_id %}
        <field name="parent_id" ref="{{menu.parent_id[0].xml_id}}"/>
        {% endif %}
        {% if menu.action and menu.action[0].xml_id %}
        <field name="action" ref="{{menu.action[0].xml_id}}"/>
        {% endif %}
        {% if menu.sequence %}
        <field name="sequence" eval="{{menu.sequence}}"/>
        {% endif %}
    </record>
{%- endfor %}
</odoo>
