<?xml version="1.0" encoding="utf-8" ?>
<odoo>
    <template id="{{data.asset_template}}_inherit" name="{{data.module_name}}_assets" inherit_id="web.{{data.asset_template}}">
        <xpath expr="." position="inside">
            {%- for asset in data.assets %}
            {%- if asset.type == 'css' %}
            <link rel="stylesheet" type="text/scss" href="/{{data.module_name}}/static/src/scss/{asset.file_name}}.scss"/>
            {%- else %}
            <script type="text/javascript" src="/{{data.module_name}}/static/src/js/{{asset.file_name}}.js"></script>
            {% endif %}
            {%- endfor %}
        </xpath>
    </template>
</odoo>
