{% import "utils_makro.jinja" as makro -%}
odoo.define('{{data.module_name}}.{{data.file_name}}', function (require) {
    "use strict";

{% for method in data["methods"] -%}
{{makro.todo(data.export_type, "js", 'Method : ' + method.method_name) | replace('\n', '\n// ') | indent(4, True)}}
{{makro.todo(data.export_type, "js", 'Comment : ' + method.description) | replace('\n', '\n// ') | indent(4, True)}}

{% endfor -%}

});
