<?xml version="1.0" encoding="utf-8" ?>
<odoo>
    {%-for action in data -%}
    <record id="{{action.__xml_id | replace(action.__xml_module ~ '.', '')}}" model="ir.actions.report">
        <field name="name">{{action.name | e}}</field>
        {%-if action.model-%}
        <field name="model">{{action.model}}</field>
        {%-endif-%}
        <field name="report_type">{{action.report_type}}</field>
        <field name="report_name">{{action.report_name}}</field>
        <field name="report_file">{{action.report_file}}</field>
        {%- if action.paperformat_id -%}
        <field name="paperformat_id" ref="{{action.paperformat_id[0].xml_id}}"/>
        {%- endif -%}
        {%- if action.binding_model_id -%}
        <field name="binding_model_id" ref="{{action.binding_model_id[0].xml_id}}"/>
        {%- endif -%}
        {%- if action.binding_type -%}
        <field name="binding_type">{{action.binding_type}}</field>
        {%- endif -%}
    </record>
    {%-endfor-%}
</odoo>
