{% import "utils_makro.jinja" as makro -%}
<?xml version="1.0" encoding="utf-8" ?>
<odoo>
{%- for view in data %}
    {%- if view.__xml_noupdate %}<data noupdate="1">{%-endif-%}

    {% if view.type == "qweb" -%}
    <template id="{{view.__xml_id | odoo_field }}" {%- if view.inherit_id %} inherit_id="{{view.inherit_id | odoo_field}}"{%-endif-%}>
    {%-if view.arch_db %}
{{view.arch_db | trim | indent(12, False) | odoo_field}}
    {%- endif %}
    </template>
    {%- else -%}
    <record id="{{view.__xml_id | odoo_field }}" model="ir.ui.view">
        <field name="name">{{view.name | odoo_field | trim | e}}</field>
        {% if view.model -%}
        <field name="model">{{view.model | odoo_model}}</field>
        {% endif -%}
        {% if view.inherit_id -%}
        <field name="inherit_id" ref="{{view.inherit_id | odoo_field}}" />
        {% endif -%}
        {% if view.priority -%}
        <field name="priority">{{view.priority}}</field>
        {% endif -%}
        <field name="arch" type="xml">
        {%-if view.arch_db -%}
            {{view.arch_db | trim | indent(16, False) | odoo_field}}
        {%- endif %}
{{makro.todo(view.export_type, "xml", 'Complete the view and check the inherit_id/xml_id') | indent(12,True)}}
        {%-if view.description | trim != '' %}
{#TODO: Split before wordwrap ?#}
            <!--
{{data.description | odoo_field | trim | replace('--','-') | wordwrap(100) | indent(16, true) }}
            {%- if view.export_type == "scaffold" %}
                {% for field in view.fields %}
                <field name="{{field | trim}}" />
                {%- endfor-%}
            {%- endif %}
            -->
        {% endif %}
        </field>
    </record>
    {%-endif%}
    {%- if view.__xml_noupdate %}</data>{%-endif-%}
{%- endfor %}
</odoo>
