<?xml version="1.0" encoding="utf-8" ?>
<odoo {%- if data.__xml_noupdate %} noupdate="1"{%-endif-%}>
    {%- for grp in data %}
    <record id="{{grp.__xml_id}}" model="res.groups">
        <field name="name">{{grp.name | e}}</field>
        {%-if grp.category_id -%}
        <field name="category_id" ref="{{grp.category_id}}"/>
        {%-endif%}
        {%-if grp.implied_ids | length %}
        <field name="implied_ids" eval="[
            {%-for implied_grp in grp.implied_ids -%}
            {{implied_grp | odoo_link}},
            {%-endfor-%}
        ]"/>
        {%-endif-%}
    </record>
    {%-endfor%}
</odoo>
