
{% set class_name = data.module_name | odoo_field | replace("."," ") | replace("_", " ") | title | replace(" ","") %}
from .common import Test{{class_name}}Common
from odoo.tests import tagged


@tagged("post_install", "-at_install")
class Test{{class_name}}(Test{{class_name}}Common):

    @classmethod
    def setUpClass(cls):
        super().setUpClass()

    def setUp(self):
        super().setUp()
        # TODO: This code is executed before each test
        # self.sale_order = cls.env["sale.order"].create({"name": "S00001"})

    {%- for method in data.methods %}

    def test_{{method.name}}(self):
        # TODO: add your test here
        {%- if method.description %}
        # {{method.description  | wordwrap(100) | replace('\n', '\n# ') | indent(8,False)}}
        {%- endif %}
        self.assertTrue(True)
    {%- endfor -%}
