{% set class_name = data.module_name | odoo_field | replace("."," ") | replace("_", " ") | title | replace(" ","") %}
from odoo.tests.common import SavepointCase

class Test{{class_name}}Common(SavepointCase):

    @classmethod
    def setUpClass(cls):
        super().setUpClass()
        # TODO: Add common records to cls
        # cls.partner = cls.env["res.partner"].create({"name": "Partner"})
