{%- macro comment(create_uid, create_date, write_uid, write_date) -%}
{% if create_uid -%}
# Create Uid : {{create_uid}}
{%- endif -%}
{% if create_date %}
# Create Date : {{create_date}}
{%- endif -%}
{% if write_uid %}
# Write Uid : {{write_uid}}
{%- endif -%}
{% if write_date %}
# Write Date : {{write_date}}
{%- endif -%}
{%- endmacro -%}

{%- macro todo(export_type, comment_type, comment) -%}
{% if export_type == 'scaffold' -%}
{%-if comment_type == "py" -%}
# TODO: {{ comment | wordwrap(100) | replace('\n','\n# ') }}
{%- elif comment_type == "xml" -%}
<!--
    TODO: {{ comment | wordwrap(100) | indent(4, True) }}
-->
{%- elif comment_type == "js" -%}
// {{comment | wordwrap(100)}}
{%-endif-%}
{%- endif -%}
{%- endmacro -%}
