{%- for field in data['ir.model.fields'] %}
{% if field.description %}
        <!-- Description :
{{field.description | trim | wordwrap(100) | indent(12,True)}}
        -->
{%- endif %}

        <record id="{{field.xml_id | replace(data.module_name ~ '.', '')}}" model="ir.model.fields">
            <field name="name">{{field.name | odoo_saas_field}}</field>
            <field name="ttype">{{field.ttype | lower }}</field>
            <field name="model_id" ref="{{data.xml_id}}" />
            <field name="field_description">{{field.field_description | e}}</field>
            {%- if field.ttype in ('one2many', 'many2many', 'many2one') %}
            <field name="relation">{{field.relation | odoo_field}}</field>
            {%- endif-%}
            {%-if field.ttype == 'selection' %}
            <field name="selection">{{field.selection | e}}</field>
            {%- endif-%}
            {%-if field.domain %}
            <field name="domain">{{field.domain}}</field>
            {%- endif-%}
            {%- if field.related %}
            <field name="related">{{field.related}}</field>
            {%- endif -%}
            {%- if field.depends -%}
            <field name="depends">{{field.depends}}</field>
            {%- endif -%}
            {%- for key,attr,type in [('store', 'store', 'bool'), ('required', 'required', 'bool'), ('track_visibility', 'track_visibility', 'bool'), ('copied', 'copy', 'bool'), ('help', 'help', 'str'), ('translate', 'translate', 'bool')] %}
                {%-if field[key]-%}
                    {%-if type == 'str'-%}
                        {%- if '"' in field[key] %}
            <field name="{{key}}" >{{field[key] | replace('\n','\\n')}}</field>
                        {%-endif %}
                    {%-else %}
                        {%- if key != 'store' or (key == 'store' and field[key] == False) or (field.compute and key == 'store' and field[key] == True) %}
            <field name="{{key}}" eval="{{field[key]}}" />
                        {%-endif-%}
                    {%-endif -%}
                {%-endif-%}
            {% endfor %}
            {%- if field.compute | trim != "False" and field.compute | trim != ""  %}
            <field name="compute">
{%- if data.export_type == "scaffold" %}
    {%- set comment = field.compute -%}
    {%- if field.compute|length > 100 -%}
        {%- set comment = "True\n" + comment -%}
    {%-endif-%}
<![CDATA[
for rec in object:
    rec['{{field.name | odoo_saas_field }}'] = {{comment | wordwrap(100) | replace('\n', '\n# ') | indent(4,False)}}
]]>
{%-else-%}
<![CDATA[
{{field.compute}}
]]>
{%-endif-%}</field>
            {%- endif %}
        </record>
{%- endfor -%}
