{
    // Use IntelliSense to learn about possible attributes.
    // Hover to view descriptions of existing attributes.
    // For more information, visit: https://go.microsoft.com/fwlink/?linkid=830387
    "version": "0.2.0",
    "configurations": [
{%- for shell in (False, True) %}
        {
            "name": "{{ database if not shell else database + ' shell'}}",
            "type": "python",
            "request": "launch",
            "cwd": "{{odoo_dir}}",
            "python": "{{ venv_python_bin }}",
            "program": "./odoo-bin",
            "args": [
{%- if shell %}
                "shell",
{%- endif %}
                "--addons-path=addons,../enterprise,../design-themes,{{ custom_repo_dir }}",
                "--log-handler",
                "odoo.addons.base.models.ir_attachment:WARNING",
                //"-u",
                //"{{ custom_modules_str }}",
                "-d",
                "{{ database }}",
{%- if upgrade_paths_str %}
                "--upgrade-path={{ upgrade_paths_str }}",
{%- endif %}
                "--limit-time-real", "0",
                "--limit-time-cpu", "0"
            ],
            "console": "{{"externalTerminal" if shell else "integratedTerminal"}}"
        }{{ ", " if not loop.last else "" }}
{%- endfor %}
    ]
}
