<?xml version="1.0" encoding="utf-8" ?>
<odoo>
    <record id="{{data.xml_id | replace(data.module_name ~ '.', '')}}" model="{%-if data.type == 'new'-%}{{data.module_name}}.{%-endif-%}{{data.ir_model_name | odoo_model | replace('.data', '')}}">
        {%-for key, value in data.items() -%}
        {%-if key not in ["write_uid", "write_date", "create_uid", "create_date", "__last_update", "xml_id", "xml_name",
                            "id", "noupdate", "ir_model_name", "module_name", "export_type", "report_ids", "module_version", "comment"]%}
        {%-if value is sameas true or value is sameas false -%}
        <field name="{{key | odoo_field }}" eval="{{value}}" />
        {%-else-%}
            {%- if key == "model_id" -%}
                {% set value = value[0].xml_id %}
            {%-endif-%}
        <field name="{{key | odoo_field }}">{{value | default(' ',True) | e }}</field>
        {%-endif-%}
        {%-endif-%}
        {%-endfor%}
    </record>
</odoo>
