<?xml version="1.0" encoding="utf-8" ?>
<odoo {%- if data.noupdate %} noupdate="1"{%-endif-%}>
    <record id="{{data.xml_id | replace(data.module_name ~ '.', '')}}" model="ir.actions.act_window">
        <field name="name">{{data.name | e }}</field>
        {%- if data.type-%}
        <field name="type">{{data.type | e}}</field>
        {%-endif %}
        <field name="res_model">{{data.res_model | odoo_field}}</field>
        {%- if data.view_mode-%}
        <field name="view_mode">{{data.view_mode}}</field>
        {%-endif %}
        {%- if data.view_id-%}
        <field name="view_id" eval="{{data.view_id}}" />
        {%-endif %}
        {%- if data.binding_model_id-%}
        <field name="binding_model_id" eval="{{data.binding_model_id}}"/>
        {% endif -%}
        {%- if data.binding_type-%}
        <field name="binding_type">{{data.binding_type}}</field>
        {% endif -%}
        {%- if data.binding_view_type-%}
        <field name="binding_view_types">{{data.binding_view_type}}</field>
        {% endif -%}
        {%- if data.groups_id-%}
        <field name="groups_id" eval="[(6, 0, {{data.groups_id}})]"/>
        {% endif -%}
        {%- if data.view_ids-%}
        <field name="view_ids" eval="[(5, 0, 0),
            (0, 0, {'view_mode': 'tree', 'view_id': ref('view_account_asset_model_purchase_tree')}),
            (0, 0, {'view_mode': 'kanban'}),
            (0, 0, {'view_mode': 'form', 'view_id': ref('view_account_asset_form')})]"/>
        {%-endif %}
        {%- if data.search_view_id-%}
        <field name="search_view_id" ref="{{data.search_view_id}}"/>
        {% endif -%}
        {%- if data.domain-%}
        <field name="domain" eval="{{data.domain | odoo_domain | odoo_field}}" />
        {% endif -%}
        {%- if data.context-%}
        <field name="context">{{data.context}}</field>
        {% endif -%}
        {%- if data.filter-%}
        <field name="filter" eval="{{data.filter}}" />
        {% endif -%}
        {%- if data.help-%}
        <field name="help" type="html">
        <![CDATA[
        {{data.help | odoo_field}}
        ]]>
        </field>
        {% endif -%}
    </record>
</odoo>
