{% import "utils_makro.jinja" as makro -%}
<?xml version="1.0" encoding="utf-8" ?>
<odoo {%- if data.noupdate %} noupdate="1"{%-endif-%}>
    <record id="{{data.xml_id | replace(data.module_name ~ '.', '')}}" model="ir.cron">
        <field name="name">{{data.name | e}}</field>
        {%- if data.active %}
        <field name="active" eval="{{data.active}}"/>
        {%- endif %}
{{makro.todo(data.export_type, "xml", 'Change interval') | indent(8,True)}}
        <field name="interval_number">{{data.interval_number}}</field>
        <field name="interval_type">{{data.interval_type}}</field>
        <field name="numbercall">{{data.numbercall}}</field>
        <field name="doall">{{data.doall}}</field>
        <field name="model_id" ref="{{data.model_id[0].xml_id}}"/>
        {%- if data.nextcall %}
        <field name="nextcall" eval="{{data.nextcall}}" />
        {%- endif %}
        {%- if data.state %}
        <field name="state">{{data.state}}</field>
        {%- endif %}
        {%- if data.priority %}
        <field name="priority">{{data.priority}}</field>
        {%- endif %}
        <field name="code">
        <![CDATA[
{{data.code}}
        ]]>
        </field>
    </record>
</odoo>
