<?xml version="1.0" encoding="utf-8" ?>
<odoo {%- if data.noupdate %} noupdate="1"{%-endif-%}>
    <record id="{{data.xml_id | replace(data.module_name ~ '.', '')}}" model="ir.filters">
        <field name="name">{{data.name | e}}</field>
        <field name="model_id">{{data.model_id}}</field>
        {% if data.context != "{}" -%}
        <field name="context">{{data.context | odoo_domain | odoo_field}}</field>
        {%endif-%}
        <field name="domain">{{data.domain | odoo_domain | odoo_field}}</field>
        <field name="user_id" eval="{{data.user_id}}"/>
        <field name="active" eval="{{data.active}}"/>
    </record>
</odoo>
