<?xml version="1.0" encoding="utf-8" ?>
<odoo {%- if data.noupdate %} noupdate="1"{%-endif-%}>
    {%- for grp in data['res.groups'] %}
    <record id="{{grp.xml_id}}" model="res.groups">
        <field name="name">{{grp.name | e}}</field>
        {%-if grp.implied_ids | length %}
        <field name="implied_ids" eval="[
            {%-for implied_grp in grp.implied_ids -%}
            (4, ref('{{implied_grp.xml_id}}'))
            {%-endfor-%}
        ]"/>
        {%-endif-%}
        {%-if grp.category_id -%}
        <field name="category_id" ref="{{grp.category_id.xml_id}}"/>
        {%-endif%}
    </record>
    {%-endfor%}
</odoo>
