{% if data.pre_init_hook or data.post_init_hook or data.uninstall -%}
from migrations import util
{%endif-%}
{%- for class_name in data.class %}
from . import {{class_name}}
{%-endfor%}
{%- if data.pre_init_hook | length or data.post_init_hook | length or data.uninstall | length -%}
import logging

logger = logging.getLogger(__name__)
{%-endif-%}
{% if data.pre_init_hook | length %}

# Avoit pre-init as much as possible use migration script instead
def pre_init(cr):
    logger.info("PRE INIT HOOK")

    {%- for line in data.pre_init_hook %}
    {%-if line.description | trim != "False"%}
    # {{line.description | replace('\n', '\n# ') | indent(4, False)}}
    {%endif-%}
    {%- endfor %}
{%- endif -%}
{% if data.post_init_hook | length %}


# Avoit post-init as much as possible use migration script instead
def post_init(cr, registry):
    logger.info("POST INIT HOOK NOTIFICATIONS")

    {%- for line in data.post_init_hook %}
    {%-if line.description | trim != "False"%}
    # {{line.description | replace('\n', '\n# ') | indent(4, False)}}
    {%endif-%}
    {%- endfor %}
{%- endif -%}
{% if data.uninstall | length %}

def uninstall(cr, registry):
    logger.info("UNINSTALL HOOK NOTIFICATIONS")

    {%- for line in data.uninstall %}
    {%-if line.description | trim != "False"%}
    # {{line.description | replace('\n', '\n# ') | indent(4, False)}}
    {%endif-%}
    {%- endfor %}
{%- endif -%}
