{% import "sh/utils_makro.jinja" as makro -%}
{
    'name': '{{data.name or data.module_name}}',
    {%- if "Short (1 phrase/line) summary of the" in data.summary -%}
        {%- set description = data.description -%}
    {%- else -%}
        {%- set description = data.summary -%}
    {%- endif -%}
    {%- if description == "" -%}
        {%- set description = data.name or data.module_name -%}
    {%-endif%}

    {{makro.todo(data.export_type, "py", "Explain the purpose of the module") | indent(4,False)}}
    'summary': """{{description}}""",

    'category': "{{data.category[1]}}",

    'version': "{{data.version}}",
    'author': "{{data.author}}",
    {%- if data.website %}
    'website': '{{data.website}}',
    {%- endif %}
    "license": "{{data.license}}",

    {%- if data.depends %}
    {{makro.todo(data.export_type, "py", "Check depends order uncomment if necessary") | indent(4,False)}}
    {% endif-%}
    'depends': [
        {% for depends in data.depends %}
        {%- if data.export_type == "scaffold" %}# {% endif%}'{{depends}}',
        {% endfor %}
    ],
    {%- if data.data %}
    {{makro.todo(data.export_type, "py", "Check data order") | indent(4,False)}}
    {% endif-%}
    'data': [
        {%- for data in data.data %}
        '{{data}}',
        {%- endfor %}
    ],
    {%- if data.qweb %}
    'qweb': [
        {%- for qweb in data.qweb %}
        '{{qweb}}',
        {%- endfor %}
    ],
    {% endif-%}
    {%- if data.assets %}
    'assets': {
        {%- for asset_template, assets in data.assets.items() %}
        '{{asset_template}}': [
            {%- for asset in assets %}
                '{{asset}}',
            {%- endfor %}
        ],
        {%- endfor %}
    },
    {% endif-%}
    {%- if data.icon and "base" not in data.icon %}
    'icon': '{{data.icon}}',
    {%- endif %}

    {%- if data.pre_init_hook %}
    'pre_init_hook': 'pre_init',
    {%- endif %}
    {%- if data.post_init_hook %}
    'post_init_hook': 'post_init',
    {%- endif %}
    {%- if data.uninstall %}
    'uninstall': 'uninstall',
    {%- endif %}
    {%- if data.export_type == "scaffold" %}
    'odoo_task_ids': [{{data.task_id}}],
    {%- endif %}
}
