{% import "utils_makro.jinja" as makro -%}
<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <template id="{{data.view_id | e | replace('_document','')}}_document">
        <t t-call="web.external_layout">
            <t t-set="doc" t-value="doc.with_context({'lang': doc.partner_id.lang})"/>

            <div class="page">
{{makro.todo(data.export_type, "xml", """Add layout here\n
Odoo uses Bootstrap 5.1.3 classes, use that as much as possible and avoid inline styles: https://getbootstrap.com/docs/5.1/getting-started/introduction/""") | indent(16,True)}}
            </div>
        </t>
    </template>

    <template id="{{data.module_name}}.{{data.view_id | e | replace('_document','')}}">
        <t t-call="web.html_container">
            <t t-foreach="docs" t-as="doc">
                <t t-call="{{data.module_name}}.{{data.view_id | e | replace('_document','')}}_document" t-lang="doc.partner_id.lang"/>
            </t>
        </t>
    </template>

    {%- if data.action == "add" %}

    <record id="{{data.xml_id | replace(data.module_name ~ '.', '')}}" model="ir.actions.report">
            <field name="name">{{data.description | e }}</field>
            {%-if data.model-%}
            <field name="model">{{data.model}}</field>
            {%-endif-%}
            <field name="report_type">web-pdf</field>
            <field name="report_name">{{data.module_name}}.{{data.xml_id | replace('_document','')}}</field>
            <field name="report_file">{{data.module_name}}.{{data.xml_id | replace('_document','')}}</field>
        </record>
    {%- endif -%}
</odoo>
