name: odev

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize

jobs:

  version-bump:
    name: version-bump
    runs-on: ubuntu-latest
    steps:
      - name: checkout-repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.sha }}

      - name: check-version-bump
        run: bash .github/workflows/version_check.sh ${{ github.event.pull_request.base.ref }}

  pre-commit:
    name: pre-commit
    runs-on: ubuntu-latest
    steps:
      - name: checkout-repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.sha }}

      - name: setup-python
        uses: actions/setup-python@v5.0.0
        with:
          python-version: '3.10'

      - name: run-pre-commit
        uses: pre-commit/action@v3.0.0

  upgrade:
    name: upgrade
    runs-on: ubuntu-latest
    steps:
      - name: checkout-repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.sha }}

      - name: setup-postgresql
        run: |
          sudo apt install -y postgresql postgresql-client
          sudo service postgresql start
          sudo -u postgres createuser -s $USER
          createdb odev

      - name: setup-python
        uses: actions/setup-python@v5.0.0
        with:
          python-version: '3.12'

      - name: setup-python-requirements
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
          if [ -f requirements-dev.txt ]; then pip install -r requirements-dev.txt; fi

      - name: checkout-first-commit
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: e4eab979a66ca9d2fa41b7062100022d28653276  # known working commit in version 4.0.0

      - name: setup-python-requirements
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
          if [ -f requirements-dev.txt ]; then pip install -r requirements-dev.txt; fi

      - name: run-odev
        run: |
          python main.py version -v debug
          cat <<EOT >> ~/.config/odev/odev.cfg
          [update]
          version = 4.0.0
          EOT

      - name: checkout-last-commit
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.sha }}

      - name: run-odev
        run: python main.py version -v debug

  unit-tests:
    name: unit-tests-${{ matrix.os }}-python${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}-latest

    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu
          # - macos
        python-version:
          - "3.10"
          - "3.11"
          - "3.12"

    steps:
      - name: setup-python
        uses: actions/setup-python@v5.0.0
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64

      - name: setup-system-dependencies
        uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: postgresql postgresql-client python3-pip libldap2-dev libpq-dev libsasl2-dev
          version: 1.1

      - name: setup-postgresql
        run: |
          sudo service postgresql start
          sudo -u postgres createuser -s $USER

      - name: checkout-repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.sha }}

      - name: cache-odoo-repositories
        id: cache-odoo-repositories
        uses: actions/cache@v4
        with:
          path: ~/odoo/repositories
          key: odoo-repositories

      - name: clone-odoo-repositories
        if: steps.cache-odoo-repositories.outputs.cache-hit != 'true'
        run: |
          git clone --depth 1 https://github.com/odoo/odoo ~/odoo/repositories/odoo/odoo --branch master
          git clone --depth 1 https://github.com/odoo/design-themes ~/odoo/repositories/odoo/design-themes --branch master

          for i in {14..17}; do
            cd ~/odoo/repositories/odoo/odoo
            git fetch --depth 1 origin "refs/heads/$i.0:refs/remotes/origin/$i.0"

            cd ~/odoo/repositories/odoo/design-themes
            git fetch --depth 1 origin "refs/heads/$i.0:refs/remotes/origin/$i.0"
          done

      - name: setup-python-requirements
        run: |
          python -m ensurepip --upgrade
          python -m pip install --upgrade pip
          python -m pip install --upgrade setuptools
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
          if [ -f requirements-dev.txt ]; then pip install -r requirements-dev.txt; fi

      - name: setup-coverage-values
        id: values
        run: echo "cov_req=80" >> $GITHUB_OUTPUT

      - name: run-coverage
        id: coverage
        env:
          POSTGRES_HOST: postgres
          POSTGRES_PORT: 5432
        run: |
          coverage run -m pytest ./tests --exitfirst --capture=no --log-cli-level debug

          COV_POST=`coverage report --precision=2 | awk '$1 == "TOTAL" {print $NF+0}'`
          COV_BELOW=`echo "$COV_POST" | awk '{print ($1 < ${{ steps.values.outputs.cov_req }})}'`

          git switch -C ${{ github.event.pull_request.base.ref || github.ref_name }} \
            --track origin/${{ github.event.pull_request.base.ref || github.ref_name }}

          coverage run -m pytest ./tests --exitfirst --capture=no --log-cli-level debug

          COV_PRE=`coverage report --precision=2 | awk '$1 == "TOTAL" {print $NF+0}'`
          COV_DECREASE=`echo "$COV_POST $COV_PRE" | awk '{print ($1 < $2)}'`

          echo "cov_post=$COV_POST" >> $GITHUB_OUTPUT
          echo "cov_pre=$COV_PRE" >> $GITHUB_OUTPUT
          echo "cov_below=$COV_BELOW" >> $GITHUB_OUTPUT
          echo "cov_decrease=$COV_DECREASE" >> $GITHUB_OUTPUT

      - name: check-coverage
        uses: actions/github-script@v7.0.1
        with:
          script: |
            const cov_req = ${{ steps.values.outputs.cov_req }}
            const cov_post = ${{ steps.coverage.outputs.cov_post }}
            const cov_pre = ${{ steps.coverage.outputs.cov_pre }}
            const cov_diff = cov_post - cov_pre

            cov_post >= cov_req
              ? core.notice(`Current coverage: ${cov_post}%`)
              : core.warning(`Coverage is below ${cov_req}%, current coverage ${cov_post}%`)

            cov_diff >= 0.0
              ? core.notice(`Coverage has increased from ${cov_pre}% to ${cov_post}% (+${cov_diff.toFixed(2)}%)`)
              : core.warning(`Coverage has decreased from ${cov_pre}% to ${cov_post}% (${cov_diff.toFixed(2)}%)`)
